body{
	font-family:sans-serif;	
}

#SMars{
	color: orange;
	text-shadow: 2px 2px black;
	font-style: italic;
	text-indent: 10px;
	font-size: 300%;
}

h1{
	font-size:150%;
}

h1::first-letter{
		font-size:200%;
		}


#SMoon{
	text-align: center;
	font-size: 80%;
}
#SVenus{
	text-indent: 115px;
}

li{
  margin: 10px 0;
}

a{
	color: orange;
	text-decoration: underline;
}

a:hover{
	color: orange;
	text-decoration: none;
}

img{
	float: left;
	margin-right: 1em;
}


	

