body{
	font-family:sans-serif;	
	width: 800px;
	background-color: white;
	border:1px solid black;
	box-shadow: 5px 5px 0 0;
}

html {
	background-image: url(../images/bats.gif);
}

#Headr2{
	text-indent: 10px;
	font-size: 300%;
}

aside{
	width: 160px
}
header h1{
	font-size:150%;
}
header{
	padding-bottom: 1em;
	border-bottom: 2px solid black;
}

h1::first-letter{
		font-size:200%;
}

#Footr{
	text-align: center;
	font-size: 80%;
}
#Headr3{
	text-indent: 115px;
}

footer{
	clear:both;		
	border-top: 1px solid black;
}

li{
  margin: 10px 0;
}

a{
	color: orange;
	text-decoration: underline;
}

a:hover{
	color: orange;
	text-decoration: none;
}

img{
	float: left;
	margin-right: 1em;
}


	

